# 依赖
node_modules/
.pnp
.pnp.js

# Next.js 构建产物
.next/
out/
build/

# 测试
coverage/

# 环境变量（绝对不能提交到仓库！）
.env*.local
.env

# 编辑器
.vscode/*
!.vscode/extensions.json
.idea/

# 系统文件
.DS_Store
Thumbs.db

# 调试日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Pagefind 静态搜索索引
/public/pagefind/
